# ============================
# Base de datos MySQL
# ============================

DB_ENGINE=django.db.backends.mysql
DB_NAME=caritas_3
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# ============================
# Django
# ============================

SECRET_KEY= 'django-insecure-9h(7i$4*p3ph^j3h&-(vhds)e&l-9*cy)(d#o9*jwl%j!*6ie)'
DEBUG=True