# Entorno virtual
venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env

# IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Distribución
*.egg-info/
dist/
build/

# Archivos estáticos y medios
media/
staticfiles/

# Caché de pruebas
.pytest_cache/

# Caché de type checkers
.mypy_cache/

# Cobertura
.coverage
htmlcov/