<!--
==============================================================================
Componente: Confirm Modal

Descripción:
Modal reutilizable para confirmar acciones críticas del sistema.

Parámetros esperados:

title         : Título del modal.
message       : Mensaje de confirmación.
confirm_url   : URL de la acción.
confirm_text  : Texto del botón principal.
confirm_class : Clase Bootstrap del botón.

==============================================================================
-->

<div class="modal fade"
     id="confirmModal"
     tabindex="-1"
     aria-labelledby="confirmModalLabel"
     aria-describedby="confirmModalDescription"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content app-modal">

            <div class="modal-header">

                <h5 class="modal-title"
                    id="confirmModalLabel">

                    {{ title|default:"Confirmar acción" }}

                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Cerrar">

                </button>

            </div>

            <div class="modal-body">

                {% if confirm_icon %}

                    <div class="text-center mb-3">

                        <i class="{{ confirm_icon }}"
                           aria-hidden="true">
                        </i>
                    
                    </div>

                {% endif %}

                <p  id="confirmModalDescription"
                    class="mb-0">

                    ¿Está seguro de desactivar este programa?

                    <br><br>

                    <strong id="entityName">

                    </strong>

                </p>

            </div>

            <form 
                id="confirmForm"
                action="#"
                method="post"
                autocomplete="off">

                {% csrf_token %}

                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">

                        Cancelar

                    </button>
                
                    <button
                        type="submit"
                        class="btn btn-icon {{ confirm_class|default:'btn-danger' }}">
                
                        {{ confirm_text|default:"Confirmar" }}
                
                    </button>
                
                </div>

            </form>

        </div>

    </div>

</div>